@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

body {
    padding-top : 140px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Syncopate', sans-serif;
}

$theme-colors: (
        "primary": #b13838ff,
        "secondary": #e7e7e7ff
);
@import "~bootstrap/scss/bootstrap";